<!doctype html>
<html>
<head>
<title>Menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
<style>
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0 20px 0 20px;
    }
    #top-header {
        position: fixed;
        top: -60px;
        left: 0;
        width: 100%;
        height: 60px;
        background: white;
        transition: top 1s;
    }
        header img {
            display: block;
            margin: 18px auto 0 auto;
            max-width: 180px;
            max-height: 24px;
        }
    .top-summary {
        padding: 120px 0 30px 0;
    }
        .top-summary img{
            display: block;
            max-width: 200px;
            max-height: 100px;
            margin: 0 auto;
        }
        .top-summary label{
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
    .menu-item {
        border-radius: 12px;
        padding: 1px 14px 20px 14px;
        margin: 20px 0;
    }
    .advertisement {
        border-radius: 12px;
        margin: 20px 0;
        background: url('/img/art_gallery_logo.jpg');
        background-size: cover;
        background-position: center;
        height: 180px;
    }
    label {
        font-style: italic;
        display: block;
    }
        .label-small {
            margin-top: 10px;
            font-size: 12px;
        }
    h2 {
        font-size: 28px;
        margin: 36px 0 0 5px;
    }

    .standard-shadow {
        box-shadow: 0px 10px 20px #00000025;
    }
</style>
</head>
<body>
    <header id='top-header' class='standard-shadow'>
        <img src="/img/header_logo.png">
    </header>
    <section class='top-summary'>
        <img src="/img/header_logo.png">
        <label>232 W Main Street, Chicago, IL</label>
    </section>
    <h2>Appetizers</h2>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label class='label-small'>+2.99 Add Chicken</label>
        <label class='label-small'>Not avialble in March</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label class='label-small'>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label class='label-small'>+2.99 Add Chicken</label>
    </div>
    <div class='advertisement standard-shadow'></div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <h2>Mains</h2>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce. A great beef dish to enjoy over top of pasta with a creamy sauce. A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>
    <div class='menu-item standard-shadow'>
        <h3>Beef Straganaugh</h3>
        <p>A great beef dish to enjoy over top of pasta with a creamy sauce.</p>
        <label>$39.99</label>
        <label>+2.99 Add Chicken</label>
    </div>

</body>
<script>
    document.o

    window.scrollY

    window.onscroll = function() {adjustHeader()};

    function adjustHeader() {
        if (document.body.scrollTop > 350 || document.documentElement.scrollTop > 350) {
            document.getElementById("top-header").style.top = "0";
        } else {
            document.getElementById("top-header").style.top = "-60px";
        }    
    }
    
    
</script>
</html>