<!DOCTYPE html>

<html> 
    <head> 
        <link rel='stylesheet' href='./css/styles.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='./js/network-request.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        <style> 
            .score {
                width: 100%;
                height: 100%;
                background: lightgrey;
                margin: 10px 0 10px 0
            }
                .score-score {
                    font-size: 30px;
                    margin: 10px 0 5px 5px;
                }
            .hero-text {
                font-size: 36px;
            }
            .scores-container {
                min-height: 500px;
            }
            .scores-header {
                margin-top: 30px;
            }
 
        </style>
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <canvas id="myChart" width="400" height="200"></canvas>

            <form>
                <label>Have a </label>
                <input class="form-input" type="text" value="9.3" id="goal-val" onchange="renderAnalysis()">
                <label>index</label><br>
                <label>in</label>
                <input class="form-input" type="text" value="3" id="rounds-val" onchange="renderAnalysis()">
                <label>rounds</label>
            </form>
            <h3 class='scores-header'>Scores Needed</h3>
            <div id='scores-needed' class='scores-container'>
            </div>

        {{>footer}}
    </body>
<script>

const renderChart = function (data) {
    var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['', '', '', '', '', '', ''],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: data,
            lineTension: 0

        }]
    },

    // Configuration options go here
    options: {
        scales: {
        xAxes: [{
            ticks: {
                reverse: true,
                min: 0,
                max: 20,
                stepSize: 1
            },
        }]
        }
    }

});
}
</script>
    <script>

        const $goalVal = document.getElementById('goal-val')
        const $roundsVal = document.getElementById('rounds-val')
        
        const renderAnalysis = async function () {

            try {

                const data = await get('/analyze/handicap-projection?rounds='+$roundsVal.value+'&goal='+$goalVal.value+'')

                let scoresContainer = document.getElementById('scores-needed')

                scoresContainer.innerHTML = ''

                for (var i=0; i< data.course.length; i++) {
                    
                    var score = document.createElement('div')
                    score.classList.add('score')
                    
                    var scoreScore = document.createElement('p')
                    scoreScore.innerHTML = data.course[i].targetScore
                    scoreScore.classList.add('score-score')
                    var scoreCourse = document.createElement('p')
                    scoreCourse.innerHTML = data.course[i].course
                    var scoreTees = document.createElement('p')
                    scoreTees.innerHTML = data.course[i].tee + ' / ' + data.course[i].rating + ' / ' + data.course[i].slope
                    var scoreDiff = document.createElement('p')
                    scoreDiff.innerHTML = 'Played like a '+data.course[i].diff.toFixed(1) + ' handicap.'

                    score.appendChild(scoreScore)
                    score.appendChild(scoreCourse)
                    score.appendChild(scoreTees)
                    score.appendChild(scoreDiff)

                    scoresContainer.appendChild(score)


                    renderChart(data.indexArray)

                }

            } catch (e) {
                console.log(e)
            }
        }


        window.addEventListener('load', (event) => {
            renderAnalysis()
        })

    </script>
</html>